@model IEnumerable<ModeloAspNetMvc.Models.Caixa.MovimentoCaixaModel>

<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Caixa</h4>
        
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>
